<header class="main__header">
	<h1>
		<span class="main__header__icon">
			<i class="fa-duotone fa-user"></i>
		</span>
		<span class="main__header__label">Account</span>
	</h1>
</header>

<div class="main__content">
	<article class="under-construction">
		<header class="under-construction__header">
			<span class="under-construction__header__icon">
				<i class="fa-duotone fa-user-helmet-safety"></i>
			</span>
			<h2>Aan het bouwen...</h2>
		</header>

		<div class="under-construction__content">
			<p>Deze pagina is nog in ontwikkeling.</p>
			<p>Je kunt deze pagina later nog eens bezoeken.</p>
		</div>

		<footer class="under-construction__footer">
			<a href="/">Ga terug naar de startpagina</a>
		</footer>
	</article>
</div>