<header class="main__header">
	<h1>
		<span class="main__header__icon">
			<i class="fa-duotone fa-exclamation-triangle"></i>
		</span>
		<span class="main__header__label">404 Niet gevonden</span>
	</h1>
</header>

<div class="main__content">
	<p>Het pad dat u probeert te bereiken bestaat niet.</p>
</div>