<header class="main__header">
	<h1>
		<span class="main__header__icon">
			<i class="fa-duotone fa-universal-access"></i>
		</span>
		<span class="main__header__label">Principes</span>
	</h1>
</header>

<div class="main__content">
	<section class="container">
		<div>
			<ul class="principes_list">
				<% for(let principe of principes) { %>
					<li>
						<article class="card">
							<header class="card__header">
								<h3><%= principe.titel %></h3>
							</header>

							<div class="card__content">
								<%- principe.beschrijving.html %>
							</div>

							<footer class="card__footer">
								<a class="button" href="/principes/<%- principe.slug %>">
									<span class="button__label">Naar <%- principe.slug %></span>
									<span class="button__icon">
										<i class="fa-duotone fa-arrow-right"></i>
									</span>
								</a>
							</footer>
						</article>

					</li>
				<% } %>
			</ul>
		</div>

	</section>
</div>