<header class="main__header">
	<h1>
		<span class="main__header__icon">
			<i class="fa-duotone fa-home"></i>
		</span>
		<span class="main__header__label">Start</span>
	</h1>
</header>

<div class="main__content">
	<section class="container">
		<header class="container__header">
			<h2>
				<span>Maak kennis met</span>
				<span class="text-primary text-3xl">Toolgankelijk</span>
			</h2>
		</header>

		<div class="container__content">
			<ul class="start__list">
				<li>
					<article class="card">
						<header class="card__header">
							<h3>
								<span class="card__header__icon">
									<i class="fa-duotone fa-universal-access"></i>
								</span>
								<span class="card__header__label">Principes</span>
							</h3>
						</header>
						<div class="card__content">Uitleg</div>
						<footer class="card__footer">
							<a href="/principes">
								<span>Ga naar principes</span>
								<span>
									<i class="fa-duotone fa-arrow-right"></i>
								</span>
							</a>
						</footer>
					</article>
				</li>
				<li>
					<article class="card">
						<header class="card__header">
							<h3>
								<span class="card__header__icon">
									<i class="fa-duotone fa-user"></i>
								</span>
								<span class="card__header__label">Account</span>
							</h3>
						</header>
						<div class="card__content">Uitleg</div>
						<footer class="card__footer">
							<a href="/account">
								<span>Ga naar account</span>
								<span>
									<i class="fa-duotone fa-arrow-right"></i>
								</span>
							</a>
						</footer>
					</article>
				</li>
			</ul>
		</div>

	</section>
</div>