<header class="main__header">
	<h1>
		<span class="main__header__icon">
			<i class="fa-duotone fa-home"></i>
		</span>
		<span class="main__header__label">Start</span>
	</h1>
</header>

<div class="main__content">
	<section class="container">
		<header class="container__header">
			<h2>
				<span>Maak kennis met</span>
				<span>Toolgankelijk</span>
			</h2>
		</header>

		<div class="container__content">
			<ul class="start__list">
				<li class="start__list__item">
					<article class="card">
						<header class="card__header">
							<h3>
								<span>
									<i class="fa-duotone fa-tools"></i>
								</span>
								<span>Toolboard</span>
							</h3>
						</header>

						<div class="card__content">
							<p>Toolboard is een tool die je helpt om je eigen toolboard te maken.
								Op je toolboard kun je tools toevoegen die je gebruikt om je werk te doen.
								Op deze manier kun je makkelijk je eigen tools vinden en delen met anderen.</p>
						</div>


						<footer class="card__footer">
							<a href="/toolboard">Ga naar Toolboard</a>
						</footer>
					</article>
				</li>

				<li class="start__list__item">
					<article class="card">
						<header class="card__header">
							<h3>
								<span>
									<i class="fa-duotone fa-user"></i>
								</span>
								<span>Account</span>
							</h3>
						</header>

						<div class="card__content">
							<p>Account is een tool die je helpt om je eigen account te maken.
								Op je account kun je je eigen gegevens invullen en bewerken.
								Op deze manier kun je makkelijk je eigen account vinden en delen met anderen.</p>
						</div>

						<footer class="card__footer">
							<a href="/account">Ga naar Account</a>
						</footer>
					</article>
				</li>
			</ul>
		</div>

	</section>
</div>